[Reference](https://python.plainenglish.io/displaying-multiple-dataframes-side-by-side-in-jupyter-lab-notebook-9a4649a4940)

In [1]:
import pandas as pd
from IPython.display import HTML

def side_by_side(*dfs):
    html = '<div style="display:flex">'
    for df in dfs:
        html += '<div style="margin-right: 2em">'
        html += df.to_html()
        html += '</div>'
    html += '</div>'
    display(HTML(html))

In [2]:
a = pd.DataFrame([
    [1,2,3],
    [4,5,6],
    [7,8,9],
    [10,11,12]
], columns=['A', 'B', 'C'])

b = pd.DataFrame([
    [0,0,0,0],
    [0,1,0,0],
    [0,1,0,0],
    [0,0,0,1],
    [0,0,1,0],
    [0,0,1,0],
    [1,0,0,0],
], columns=['apple', 'orange', 'pear', 'pineapple'])

c = pd.DataFrame([
    [1000,2000,3000],
    [4000,5000,6000],
    [7000,8000,9000],
], columns=['AAA', 'BBB', 'CCC'])

In [3]:
side_by_side(a, b, c)